src/flows/JBSystemFlow_Lead-37.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj570e8e7667a009049dd49cf382257d8c_FireJBTrigger</name>
        <label>SalesforceObj570e8e7667a009049dd49cf382257d8c_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;Id&quot;,
  &quot;relationshipName&quot;: &quot;&quot;,
  &quot;isPolymorphic&quot;: false,
  &quot;referenceObjectName&quot;: &quot;Lead&quot;
}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj570e8e7667a009049dd49cf382257d8c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>7296149</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>2.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;FirstName&quot;,&quot;LeadScore__c&quot;,&quot;Call_Result__c&quot;,&quot;Center_Name__c&quot;,&quot;Center_Address__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;Center_Phone_Number__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj99c672f2cc312d432320c52a7c97d47c_FireJBTrigger</name>
        <label>SalesforceObj99c672f2cc312d432320c52a7c97d47c_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj570e8e7667a009049dd49cf382257d8c</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj570e8e7667a009049dd49cf382257d8c</targetReference>
        </faultConnector>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj99c672f2cc312d432320c52a7c97d47c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>7296149</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>2.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;FirstName&quot;,&quot;Call_Result__c&quot;,&quot;Center_Name__c&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjb909b3c633174f7ab0d0b306ed890b56_FireJBTrigger</name>
        <label>SalesforceObjb909b3c633174f7ab0d0b306ed890b56_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj99c672f2cc312d432320c52a7c97d47c</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj99c672f2cc312d432320c52a7c97d47c</targetReference>
        </faultConnector>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjb909b3c633174f7ab0d0b306ed890b56</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>7296149</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>2.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;FirstName&quot;,&quot;Center__c&quot;,&quot;LeadScore__c&quot;,&quot;Center_Name__c&quot;,&quot;Call_Result__c&quot;,&quot;Center_Address__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;Center_Phone_Number__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Center_Information__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Center__r&quot;,&quot;dePrefix&quot;:&quot;Lead:Center__r:&quot;,&quot;fields&quot;:[&quot;Doctor_1__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj570e8e7667a009049dd49cf382257d8c</name>
        <label>JB_Decision_Null_Check_SalesforceObj570e8e7667a009049dd49cf382257d8c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj570e8e7667a009049dd49cf382257d8c_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj570e8e7667a009049dd49cf382257d8c_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj570e8e7667a009049dd49cf382257d8c_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj570e8e7667a009049dd49cf382257d8c_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj570e8e7667a009049dd49cf382257d8c_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj570e8e7667a009049dd49cf382257d8c_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj99c672f2cc312d432320c52a7c97d47c</name>
        <label>JB_Decision_Null_Check_SalesforceObj99c672f2cc312d432320c52a7c97d47c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj570e8e7667a009049dd49cf382257d8c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj99c672f2cc312d432320c52a7c97d47c_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj99c672f2cc312d432320c52a7c97d47c_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj99c672f2cc312d432320c52a7c97d47c_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj99c672f2cc312d432320c52a7c97d47c_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj99c672f2cc312d432320c52a7c97d47c_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj99c672f2cc312d432320c52a7c97d47c_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjb909b3c633174f7ab0d0b306ed890b56</name>
        <label>JB_Decision_Null_Check_SalesforceObjb909b3c633174f7ab0d0b306ed890b56</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj99c672f2cc312d432320c52a7c97d47c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjb909b3c633174f7ab0d0b306ed890b56_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjb909b3c633174f7ab0d0b306ed890b56_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjb909b3c633174f7ab0d0b306ed890b56_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjb909b3c633174f7ab0d0b306ed890b56_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjb909b3c633174f7ab0d0b306ed890b56_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjb909b3c633174f7ab0d0b306ed890b56_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj570e8e7667a009049dd49cf382257d8c_Decision</name>
        <label>JB_SalesforceObj570e8e7667a009049dd49cf382257d8c_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj570e8e7667a009049dd49cf382257d8c</name>
            <conditionLogic>( ( ( ( ( ( ( (1 OR 2)  AND 3)  AND 4)  AND  (5 OR 6) )  AND  ( (7 OR 8)  OR 9) )  AND  (10 OR 11) )  AND 12)  AND 13)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.LeadScore__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yellow</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.LeadScore__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Green</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Call_Result__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ConvertedContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Center__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>a0S4000000Afaa7EAB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Center__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>a0S4000000AfaaHEAR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.OBJECTION__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Calling for Someone Else</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.OBJECTION__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Hung Up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.OBJECTION__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Health Issues</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No Show</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Patient Left</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.CreatedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <dateTimeValue>2017-01-01T04:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj570e8e7667a009049dd49cf382257d8c_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj570e8e7667a009049dd49cf382257d8c</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj570e8e7667a009049dd49cf382257d8c_State_change_Decision</name>
        <label>JB_SalesforceObj570e8e7667a009049dd49cf382257d8c_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj570e8e7667a009049dd49cf382257d8c</name>
            <conditionLogic>NOT  ( ( ( ( ( ( ( (1 OR 2)  AND 3)  AND 4)  AND  (5 OR 6) )  AND  ( (7 OR 8)  OR 9) )  AND  (10 OR 11) )  AND 12)  AND 13)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.LeadScore__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yellow</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.LeadScore__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Green</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Call_Result__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.ConvertedContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Center__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>a0S4000000Afaa7EAB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Center__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>a0S4000000AfaaHEAR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.OBJECTION__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Calling for Someone Else</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.OBJECTION__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Hung Up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.OBJECTION__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Health Issues</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No Show</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Patient Left</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.CreatedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <dateTimeValue>2017-01-01T04:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj570e8e7667a009049dd49cf382257d8c_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj570e8e7667a009049dd49cf382257d8c</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj99c672f2cc312d432320c52a7c97d47c_Decision</name>
        <label>JB_SalesforceObj99c672f2cc312d432320c52a7c97d47c_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj570e8e7667a009049dd49cf382257d8c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj99c672f2cc312d432320c52a7c97d47c</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>katie.m.goulet@gmail.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.LeadScore__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blue (No Hit)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj99c672f2cc312d432320c52a7c97d47c_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj99c672f2cc312d432320c52a7c97d47c</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj99c672f2cc312d432320c52a7c97d47c_State_change_Decision</name>
        <label>JB_SalesforceObj99c672f2cc312d432320c52a7c97d47c_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj570e8e7667a009049dd49cf382257d8c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj99c672f2cc312d432320c52a7c97d47c</name>
            <conditionLogic>NOT  (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>katie.m.goulet@gmail.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.LeadScore__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blue (No Hit)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj99c672f2cc312d432320c52a7c97d47c_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj99c672f2cc312d432320c52a7c97d47c</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjb909b3c633174f7ab0d0b306ed890b56_Decision</name>
        <label>JB_SalesforceObjb909b3c633174f7ab0d0b306ed890b56_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj99c672f2cc312d432320c52a7c97d47c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjb909b3c633174f7ab0d0b306ed890b56</name>
            <conditionLogic>( ( ( ( ( ( ( ( ( ( ( ( (1 AND 2)  AND 3)  AND 4)  AND 5)  AND  ( ( (6 OR 7)  OR 8)  OR 9) )  AND 10)  AND 11)  AND 12)  AND 13)  AND 14)  AND 15)  AND 16)  AND 17)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Call_Result__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ConvertedContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.CreatedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <dateTimeValue>2017-01-01T07:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Distance_To_Center__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.LeadScore__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blue (No Hit)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.LeadScore__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Red</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.LeadScore__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Insufficient Information</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.LeadScore__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PO Box</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Center__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>a0S4000000Afaa7EAB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Center__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>a0S4000000AfaaHEAR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.OBJECTION__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cost Prohibitive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.OBJECTION__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Health Issues</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.OBJECTION__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Calling for Someone Else</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.OBJECTION__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Hung Up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Patient Left</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No Show</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjb909b3c633174f7ab0d0b306ed890b56_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjb909b3c633174f7ab0d0b306ed890b56</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjb909b3c633174f7ab0d0b306ed890b56_State_change_Decision</name>
        <label>JB_SalesforceObjb909b3c633174f7ab0d0b306ed890b56_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj99c672f2cc312d432320c52a7c97d47c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjb909b3c633174f7ab0d0b306ed890b56</name>
            <conditionLogic>NOT  ( ( ( ( ( ( ( ( ( ( ( ( (1 AND 2)  AND 3)  AND 4)  AND 5)  AND  ( ( (6 OR 7)  OR 8)  OR 9) )  AND 10)  AND 11)  AND 12)  AND 13)  AND 14)  AND 15)  AND 16)  AND 17)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.Call_Result__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.ConvertedContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.CreatedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <dateTimeValue>2017-01-01T07:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Distance_To_Center__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.LeadScore__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blue (No Hit)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.LeadScore__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Red</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.LeadScore__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Insufficient Information</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.LeadScore__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PO Box</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Center__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>a0S4000000Afaa7EAB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Center__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>a0S4000000AfaaHEAR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.OBJECTION__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cost Prohibitive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.OBJECTION__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Health Issues</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.OBJECTION__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Calling for Someone Else</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.OBJECTION__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Hung Up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Patient Left</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No Show</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjb909b3c633174f7ab0d0b306ed890b56_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjb909b3c633174f7ab0d0b306ed890b56</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Lead</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObjb909b3c633174f7ab0d0b306ed890b56</startElementReference>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
